body, html {
    height:100%;
    display:block;
    background-color:#34bfc2;
}

.mdl-grid {
    margin:0;
    padding:0;
}

#map,
#city-stats,
#neighbor,
#weather {
    height:250px;
    margin-top:3%;
}

#search {
    height:200px;
    background: url(../images/moveToBanner.png) no-repeat center; 
    margin-top:20%;
}

#searchBar {
    margin:-15px 0 0 35%;
    width:30%;
}

#location,
#dummyText {
    text-align:center;
}

.card-square.mdl-card {
  width: 100%;
  height: 120%;
}

.card-square > .mdl-card__title {
  color: #fff;
  background-color:black;
}

.box-title {
    margin:0 0 0 0;
    padding:0;
    font-size:175%;
}

.mdl-card__actions {
    height:20%;
}

.see-more {
    height:100%;
}

.squares {
    margin:10% 0 0 0;
}

#city {
    float:left;
    width:50%;
    height:70px;
    margin:125px 25% 0 25%;
    text-align:center;
    color:white;
}

#overlay {
    position:fixed;
    z-index: 100;
    top:0; 
    left:0;
    bottom:0; 
    right:0;
    background-color:rgba(0,0,0,0.6);   
}

.card-wide.mdl-card {
  width: 50%;
  z-index: 150;
}

.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url(../images/moveToBanner.png) no-repeat center; 
}

.card-wide > .mdl-card__menu {
  color: #fff;
}

.card-wide {
    margin:-250px 25% 0 25%;
}

#loginButtonCont {
    height:50px;
}